.navbar-container {
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.top-navbar,
.side-navbar {
  background-color: #343a40;
}

.top-navbar .navbar-brand {
  color: #000;
}

.top-navbar .navbar-toggler {
  border-color: #000;
}

.top-navbar .nav-link {
  color: #000;
}

.side-navbar .nav-link {
  color: #fff;
}

.side-navbar .nav-link:hover {
  color: #ccc;
}

.avatar-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.side-navbar-container {
  width: 272px;
  height: 100vh;
  position: fixed;
  z-index: 1030;
}